Repository iviul/Milestone-2, pull requests merged in 2025-06, with the labels that each got.

#92 91 create listener module for aws
  terraform/aws/locals.tf
  terraform/aws/main.tf
  terraform/aws/modules/listener/main.tf
  terraform/aws/modules/listener/outputs.tf
  terraform/aws/modules/listener/variables.tf
  terraform/aws/modules/network/main.tf
  terraform/aws/modules/target-groups/outputs.tf
Labels: enhancement, AWS, Terraform

#93 80 load balancer for aws k3s cluster
  terraform/aws/locals.tf
  terraform/aws/modules/load-balancer/main.tf
  terraform/aws/modules/load-balancer/outputs.tf
  terraform/aws/modules/load-balancer/variables.tf
Labels: enhancement, AWS, Terraform

#94 75 backend deployment
  .gitignore
  ansible/app_deploy.yml
  ansible/group_vars/all.yml
  ansible/k3s-playbook.yml
  ansible/roles/app_deploy/defaults/main.yml
  ansible/roles/app_deploy/tasks/main.yml
  ansible/roles/app_deploy/templates/configmap.yaml.j2
  ansible/roles/app_deploy/templates/deployment.yaml.j2
  ansible/roles/app_deploy/templates/secret.yaml.j2
  ansible/roles/app_deploy/templates/service.yaml.j2
  ansible/roles/backend/backend.yml
  ansible/roles/create-registry-secret/tasks/main.yml
  ansible/roles/redis-deploy/redis-deploy.yml
  terraform/gcp/inventory.tf
  terraform/gcp/main.tf
  terraform/gcp/modules/network/main.tf
  terraform/gcp/modules/network/variables.tf
  terraform/gcp/modules/vm/outputs.tf
  terraform/gcp/modules/vm/variables.tf
  terraform/gcp/service-account-GCP-bucketless.sh
  terraform/gcp/service-account-GCP.sh
  terraform/inventory.tpl
Labels: GCP, Ansible

#97 71 cluster join token sharing
  ansible/roles/k3s_cluster_join/defaults/main.yml
  ansible/roles/k3s_cluster_join/tasks/main.yml
  ansible/site.yml
  terraform/aws/inventory.tf
  terraform/aws/main.tf
  terraform/aws/modules/load-balancer/main.tf
  terraform/aws/modules/load-balancer/outputs.tf
  terraform/inventory.tpl
Labels: enhancement, Ansible, K3s

#105 104 aws terraform networking adjust to new requirements
  terraform/aws/modules/network/main.tf
  terraform/aws/modules/network/outputs.tf
Labels: enhancement, AWS, Terraform

#157 DB's dump
  ansible/restore_dump.yml
  ansible/roles/restore_db_from_dump/tasks/main.yml
Labels: Ansible
