Repository iviul/Milestone-2, pull requests merged in 2025-05, with the labels that each got.

#43 Fix bug gcp tf project
  .gitignore
  terraform/gcp/inventory.tf
  terraform/gcp/main.tf
  terraform/gcp/modules/db_instance/main.tf
  terraform/gcp/modules/db_instance/variables.tf
  terraform/gcp/modules/network/main.tf
  terraform/gcp/modules/network/variables.tf
  terraform/gcp/modules/vm/main.tf
  terraform/gcp/provider.tf
  terraform/gcp/variables.tf
Labels: bug, GCP

#42 added module for registry creation from config in AWS
  terraform/aws/inventory.tf
  terraform/aws/main.tf
  terraform/aws/modules/registry/main.tf
  terraform/aws/modules/registry/outputs.tf
  terraform/aws/modules/registry/variables.tf
Labels: AWS, Terraform

#48 47 add iam terraform module in aws
  .gitignore
  terraform/aws/main.tf
  terraform/aws/modules/iam/main.tf
  terraform/aws/modules/iam/outputs.tf
  terraform/aws/modules/iam/varialbes.tf
  terraform/aws/modules/vms/main.tf
  terraform/aws/outputs.tf
Labels: AWS, Terraform

#40 fixed ecr-docker-auth
  ansible/ecr-auth.yml
  terraform/aws/.gitignore
Labels: Ansible, AWS

#90 86 create terget group module for aws
  terraform/aws/locals.tf
  terraform/aws/main.tf
  terraform/aws/modules/security_groups/main.tf
  terraform/aws/modules/target-groups/main.tf
  terraform/aws/modules/target-groups/outputs.tf
  terraform/aws/modules/target-groups/variables.tf
  terraform/aws/modules/vms/main.tf
  terraform/aws/modules/vms/outputs.tf
Labels: AWS, Terraform
